/* Main */
.container-fluid {
	max-width: 1200px; 
	padding: 0;
}

/* Home */
.thumbnail-wrapper 
{
	width: 100%; 
	margin: 0px auto 20px;
}

.thumbnail-overlay 
{
    display: block;
    float: left;
    overflow: hidden;
    position: relative;
    width: 292.5px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.thumbnail-overlay:nth-child(4n) 
{
    margin-right: 0;
}

.thumbnail-overlay:hover
{
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}

.wallpaper-thumbnail 
{
    width: 100%;
    height: 165px;
}

.wallpaper-thumbnail 
{
  display: block;
}

.overlay 
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: rgba(0, 0, 0, 0.4);
}

.thumbnail-overlay:hover .overlay 
{
  opacity: 1;
}

.text 
{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.wallpaper-badge 
{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 13px;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px #000000;
    padding: 5px;
    border-radius: 4px;
}

/* Badge resolutions */
.badge-720p 
{
    background-color: black;
}
.badge-1080p 
{
    background-color: blue;
}
.badge-1440p 
{
    background-color: #bda700;
}

.badge-4K
{
    background-color: #b03b00;
}

/* Wallpaper show */
.info-col 
{
    padding: 0 !important;
}
.info-item:nth-child(odd) 
{
    background-color: #4f4f4f;
}
.info-item 
{
    padding: 5px;
    border-radius: 4px;
}